@font-face{
    font-family: "roboto";
    src: url("../fonts/Roboto-Bold.ttf");
}

*{
    margin: 0;
    padding: 0;
}

.mainContainer{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    background-color: #db4d51;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    font-family: 'roboto';
    height: 90px;
    top:0;
    z-index: 9999;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.logo img{
    width: 100px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 45%;
    align-items: center;
}

a.nav-item::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #e8566a;
}

a.nav-item:hover::after{
    width: 100%;
    transition: width .3s;
}

a.active::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    bottom: -2px;
    background: #e8566a;
}

ul li a{
    text-decoration: none;
    color: white;
}

li{
    display:inline-block;
    margin: 40px;
}

.besoin{
    margin-top: 90px;
    background-color: #db4d51;
    background-image: url("../images/hero-background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:100px;
}

@font-face{
    font-family: "monserrat";
    src: url("../fonts/Montserrat-Black.ttf");
}

section .besoin h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 75px;
    font-family: 'monserrat';
    color: white;
    text-align: center;
    line-height: 1.2;
}

section .besoin h1 span{
    color: #ffe64d;
}

#qualif::before{
    content: '<';
}

#qualif::after{
    content: '>';
}

#question-mark{
    color: #ffe64d;
    content: '';
}

.link-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.link-button a{
    margin: 10px;
    text-decoration: none;
    background-color: white;
    border: solid 2px #fff;
    padding: 20px 30px;
    font-family: 'roboto';
    color: #d92950;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 15px;
}

.link-button a:hover{
    margin: 10px;
    text-decoration: none;
    background-color: #d92950;
    border: solid 2px #fff;
    padding: 20px 30px;
    font-family: 'roboto';
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 15px;
    outline: none;
}

@font-face{
    font-family: "monserrat-light";
    src: url("../fonts/Montserrat-Light.ttf");
}

.besoin p{
    color: #fff;
    font-family: 'monserrat-light';
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.5;
    text-align: center;
    margin-top: 20px;
}

.besoin img{
    opacity: 0.5;
    width: 53px;
    height: 45px;
    padding-top: 50px;
    margin: 0px 55px;
}

.image-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 48px;
}

.des-developpeurs{
    background-color: #f1f0f3;
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.des-developpeurs .batiment-salle {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 500px;
}

.des-developpeurs .batiment-salle #texaf{
    width: 520px;
    height: 390px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    left: -70px;
}

.des-developpeurs .batiment-salle #cohorte{
    width: 347px;
    height: 260px;
    border-bottom-right-radius: 20px;
    border-radius: 20px;
    position: relative;
    left: 205px;
    top: -195px;
}

@font-face{
    font-family: "monserrat-regular";
    src: url("../fonts/Montserrat-Bold.ttf");
}

.des-developpeurs .developpeurs{
    display: flex;
    flex-direction: column;
    position: relative;
    color: #424345;
    width: 50%;
    left: -90px;
}

.des-developpeurs .developpeurs .paragraphe{
    font-family: 'monserrat-regular';
    font-weight: 700;
    font-size: 40px;
}

.des-developpeurs .developpeurs .paragraphe span::before{
    content: '<';
}

.des-developpeurs .developpeurs .paragraphe span::after{
    content: '>';
}

.des-developpeurs .developpeurs .flex-developpeurs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.des-developpeurs .developpeurs .flex-developpeurs .sous-bloc-developpeur{
    text-align: center;
    font-family: 'monserrat-regular';
    font-size: 20px;
}

.des-developpeurs .developpeurs .flex-developpeurs .sous-bloc-developpeur img{
    width: 50px;
    height: 64px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid 2px #e94c23;
    margin-bottom: 20px;
}

.parteneurs{
    background-color: #db4d51;
}