@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #d92950;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    font-family: 'roboto';
    height: 80px;
    top: 0;
    z-index: 9999;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 25px;
}

.logo img {
    width: 100px;
    height: 50px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 45%;
    align-items: center;
}

nav a.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    bottom: -2px;
    background: #e8566a;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'roboto';
    font-size: 16px;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: 0px;
    background: #e8566a;
}

nav ul li a:hover::after {
    width: 100%;
    transition: width .3s;
}

nav ul li {
    display: inline-block;
    margin: 30px;
}

.besoin {
    margin-top: 80px;
    background-color: #d92950;
    background-image: url("../images/hero-background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

@font-face {
    font-family: "monserrat";
    src: url("../fonts/Montserrat-Black.ttf");
}

section .besoin h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 75px;
    font-family: 'monserrat';
    color: white;
    text-align: center;
    line-height: 1.2;
}

section .besoin h1 span {
    color: #ffe64d;
}

#qualif::before {
    content: '<';
}

#qualif::after {
    content: '>';
}

#question-mark {
    color: #ffe64d;
    content: '';
}

.link-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.link-button a {
    margin: 10px;
    text-decoration: none;
    background-color: white;
    border: solid 2px #fff;
    padding: 20px 30px;
    font-family: 'roboto';
    color: #d92950;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 15px;
}

.link-button a:hover {
    margin: 10px;
    text-decoration: none;
    background-color: #d92950;
    border: solid 2px #fff;
    padding: 20px 30px;
    font-family: 'roboto';
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 15px;
    outline: none;
}

@font-face {
    font-family: "monserrat-light";
    src: url("../fonts/Montserrat-Light.ttf");
}

.besoin p {
    color: #fff;
    font-family: 'monserrat-light';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    margin-top: 20px;
}

.besoin img {
    opacity: 0.5;
    width: 53px;
    height: 45px;
    padding-top: 50px;
    margin: 0px 55px;
}

.image-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 48px;
}

.des-developpeurs {
    background-color: #f1f0f3;
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.des-developpeurs .batiment-salle {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 500px;
}

.des-developpeurs .batiment-salle #texaf {
    width: 520px;
    height: 390px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    left: -70px;
}

.des-developpeurs .batiment-salle #cohorte {
    width: 347px;
    height: 260px;
    border-bottom-right-radius: 20px;
    border-radius: 20px;
    position: relative;
    left: 205px;
    top: -195px;
}

@font-face {
    font-family: "monserrat-regular";
    src: url("../fonts/Montserrat-Bold.ttf");
}

.des-developpeurs .developpeurs {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #424345;
    width: 50%;
    left: -90px;
}

.des-developpeurs .developpeurs .paragraphe {
    font-family: 'monserrat-regular';
    font-weight: 700;
    font-size: 40px;
}

.des-developpeurs .developpeurs .paragraphe span::before {
    content: '<';
}

.des-developpeurs .developpeurs .paragraphe span::after {
    content: '>';
}

.des-developpeurs .developpeurs .flex-developpeurs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.des-developpeurs .developpeurs .flex-developpeurs .sous-bloc-developpeur {
    text-align: center;
    font-family: 'monserrat-regular';
    font-size: 22px;
}

.des-developpeurs .developpeurs .flex-developpeurs .sous-bloc-developpeur img {
    width: 50px;
    height: 64px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: solid 2px #e94c23;
    margin-bottom: 20px;
}

.parteneurs {
    background-color: #d92950;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.parteneurs .paragraphe {
    font-family: 'monserrat-regular';
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}

.parteneurs .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    width: 85%;
    overflow: hidden;
}

.slides {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.slide {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
}

.slide .imagecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    padding: 0 50px;
    height: 200px;
    position: relative;
    left: 807px;
    /* animation: flotter 15s infinite; */
}

.slide .imagecontainer img{
    width: 100%;
    height: auto;
    animation: flotter 15s infinite;
}

@keyframes flotter{
    0%{
        transform: translateX(0px);
    }
    10%{
        transform: translateX(0px);
    }
    15%{
        transform: translateX(-230px);
    }
    20%{
        transform: translateX(-230px);
    }
    30%{
        transform: translateX(-480px);
    }
    35%{
        transform: translateX(-480px);
    }
    45%{
        transform: translateX(-720px);
    }
    55%{
        transform: translateX(-720px);
    }
    60%{
        transform: translateX(-960px);
    }
    70%{
        transform: translateX(-960px);
    }
    75%{
        transform: translateX(-1200px);
    }
    80%{
        transform: translateX(-1200px);
    }
    90%{
        transform: translateX(-1430px);
    }
    100%{
        transform: translateX(-1660px);
    }
}

.accompagnement {
    background-color: #f1f0f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.accompagnement>p {
    color: #392546;
    font-family: 'monserrat-regular';
    font-size: 44px;
    font-weight: 700;
    margin: 50px 0px 50px;
}

.accompagnement .accompagnements-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.accompagnement .accompagnements-one .realisation {
    width: 550px;
    background-color: #fff;
    margin-right: 15px;
    border-top: solid 10px #ffe64d;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0px 10px;
}

.accompagnement .accompagnements-one .realisation :nth-child(2) {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #392546;
    font-family: 'monserrat-light';
    font-size: 16px;
    padding: 0 30px;
    text-align: center;
}

.accompagnement .accompagnements-one .realisation :nth-child(1) {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #d92950;
    font-family: 'monserrat-regular';
    font-size: 33px;
    font-weight: 700;
}

.accompagnement .accompagnements-one .realisation a {
    margin: 30px;
    text-decoration: none;
    background-color: #d92950;
    border: solid 2px #d92950;
    padding: 20px 30px;
    font-family: 'roboto';
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 15px;
}


.accompagnement .accompagnements-one .realisation a:hover {
    margin: 30px;
    text-decoration: none;
    background-color: #fff;
    border: solid 2px #d92950;
    padding: 20px 30px;
    font-family: 'roboto';
    color: #d92950;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 15px;
}

.accompagnement .accompagnements-one .integration {
    width: 550px;
    background-color: #fff;
    margin-left: 15px;
    border-top: solid 10px #db4d51;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0px 10px;
}

.accompagnement .accompagnements-one .integration :nth-child(2) {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #392546;
    font-family: 'monserrat-light';
    font-size: 16px;
    padding: 0 30px;
    text-align: center;
}

.accompagnement .accompagnements-one .integration :nth-child(1) {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #d92950;
    font-family: 'monserrat-regular';
    font-size: 33px;
}

.accompagnement .accompagnements-one .integration a {
    text-decoration: none;
    background-color: #d92950;
    border: solid 2px #d92950;
    padding: 20px 30px;
    font-family: 'roboto';
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 15px;
    margin: 30px 0 40px 0;
}

.accompagnement .accompagnements-one .integration a:hover {
    text-decoration: none;
    background-color: #fff;
    border: solid 2px #d92950;
    padding: 20px 30px;
    font-family: 'roboto';
    color: #d92950;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 15px;
    margin: 30px 0 40px 0;
}

.produit{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d92950;
    padding-bottom: 100px;
}

.produit-produit-image{
    display: flex;
    overflow: hidden;
}

.produit .produit-flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.produit-image{
    font-family: 'Montserrat-Light';
    font-size: 15.2px;
    line-height: 16.8px;
    animation: flotter-produit 15s infinite;
}

.produit .produit-flex-row .produit-image img{
    border-radius: 20px;
    margin: 0 30px;
    width: 330px;
    height: 460px;
}

.produit-image .image-client{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
    position: relative;
    left: 30px;
}

.produit-image .image-client a{
    color: #fff;
    /* background-color: #ed0058; */
    text-decoration: none;
}

.produit-image .image-client a::after{
    content: '';
    background-color: #ed0058;
    color: #fff;
    width: 0;
    height: 2px;
    text-decoration: none;
}

.produit-image .image-client a:hover::after{
    width: 100%;
    transition: width .3s;
}

.produit-client{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}

.produit-image .logo-client{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.produit>p{
    color:#ffffff;
    font-family: 'monserrat-regular';
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 100px 0px 100px;
}

.pays{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #fff;
    color: #d92950;
    margin-right: 60px;
    height: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 10px;
}

.pays svg{
    margin-right: 20px;
}

.badge{
    display: flex;
    flex-direction: row;
    justify-content: start;
    color: #fff;
    margin-top: 15px;
    font-size: 11.2px;
    background-color: #ed0058;
    width: 300px;
    padding: 5px 15px;
    border-radius: 3px;
}

/*Animation ce que nous avons développer*/

@keyframes flotter-produit{
    0%{
        transform: translateX(0%);
    }
    7%{
        transform: translateX(0%);
    }
    15%{
        transform: translateX(-100%);
    }
    23%{
        transform: translateX(-100%);
    }
    31%{
        transform: translateX(-200%);
    }
    39%{
        transform: translateX(-200%);
    }
    47%{
        transform: translateX(-300%);
    }
    55%{
        transform: translateX(-300%);
    }
    63%{
        transform: translateX(-400%);
    }
    71%{
        transform: translateX(-400%);
    }
    79%{
        transform: translateX(-500%);
    }
    87%{
        transform: translateX(-500%);
    }
    95%{
        transform: translateX(-600%);
    }
    100%{
        transform: translateX(-600%);
    }
}

.produit-flex-row button{
    background-color: #fff;
    width: 20px;
    height: 19px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 100px;
    color: #d92950;
    margin: 0 5px;
}

.produit-flex-row button:focus{
    background-color: #fff;
    width: 20px;
    height: 19px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 100px;
}

.expertise{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
}

.expertise>.title{
    font-family: 'monserrat-regular';
    font-size: 40px;
    font-weight: 700;
    color: #424345;
    text-align: center;
}

.expertise .element{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hardskill{
    display: flex;
    flex-direction: column;
    width: 600px;
}

.hardskill .title{
    background-color: #d92950;
    color: #ffffff;
    font-family: 'monserrat-regular';
    font-size: 28px;
    font-weight: 700;
    padding: 20px 20px;
    margin-top: 50px;
}

@font-face{
    font-family: "ubuntu-mono";
    src: url("../fonts/UbuntuMono-Regular.ttf");
}

.hardskill .hardcite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 50px;
    text-align: center;
    color:#424345;
    background-color: #f1f0f3;
    font-family: 'ubuntu-mono';
    font-size: 20.8px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hardcite svg{
    width: 45px;
    height: 45px;
}

.hardcite p{
    margin-bottom: 20px;
}

.hardcite .col{
    margin-bottom: 50px;
}

.softskill{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 50px;
    margin-left: 40px;
    background-color: #f1f0f3;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.softskill .title{
    background-color: #331F40;
    color: #ffffff;
    font-family: 'monserrat-regular';
    font-size: 28px;
    font-weight: 700;
    padding: 20px 20px;
}

.softskill ol{
    margin-left: 60px;
    margin-right: 40px;
    margin-top: 5px;
}

.softskill .element{
    padding: 20px;
    background-color: #dfdee1;
    margin: 0 50px;
    margin-top: 35px;
    padding-bottom: 100px;
    border-radius: 10px;
    color: #424345;
    font-family: 'ubuntu-mono';
    font-size: 20.8px;
    line-height: 31.2px;
}

.pret{
    background-color: #ae3753;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.pret>a{
    margin-top: 100px;
    font-family: 'roboto';
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #d92950;
    text-decoration: none;
    padding: 17px 25px;
    border-radius: 15px;
    border: solid 2px #d92950;
}

.pret>a:hover{
    margin-top: 100px;
    font-family: 'roboto';
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #ae3753;
    text-decoration: none;
    padding: 17px 25px;
    border-radius: 15px;
    border: solid 2px #fff;
}

.pret .title{
    text-align: center;
    color: #fff;
    font-family: 'monserrat-regular';
    font-size: 40px;
    font-weight: 700;
    padding: 100px 0 50px 0;
}

.pre-cont-img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    position: relative;
}

.img-par>.img{
    border: solid 1px #fff;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.img-par>.img1{
    border: solid 1px #fff;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: -30px;
}

.img-par>.img2{
    border: solid 1px #fff;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    right: 65px;
}

.cont-img>.img-par{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 75px;
}

.pre-cont-img .call{
    width: 34px;
    height: 40px;
}

.pre-cont-img #users{
    width: 34px;
    height: 17.67px;
}

#onboarding-child{
    position: relative;
    left: 85px;
}

#usergroup{
    width: 34px;
    height: 32.86px;
}

.fleche{
    width: 35px;
    height: 20px;
    position: relative;
    top: 20px;
    left: 35px;
}

.fleche1{
    width: 35px;
    height: 20px;
    position: relative;
    top: 20px;
    left: 5px;
}

.cont-img p{
    font-family: 'ubuntu-mono';
    font-size: 20.8px;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

#onboarding{
    margin-left: 70px;
}

.section5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f1f0f3;
    padding: 100px 50px 100px 50px;
}

.section5 .ego1{
    width: 600px;
    padding-top: 50px;
    margin-right: 20px;
}

.section5 .ego1 img{
    width: 590px;
    height: 212.5px;
}

.section5 .ego2{
    display: flex;
    flex-direction: row;
    width: 600px;
    padding-top: 50px;
}

.section5 #para1{
    font-family: 'monserrat-regular';
    font-size: 42px;
    font-weight: 700;
    color: #424345;
}

.section5 span{
    font-family: 'monserrat-regular';
    font-size: 40px;
    font-weight: 700;
    color: #d92950;
}

.section5 #para2{
    font-family: 'monserrat-light';
    margin-top: 50px;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 30px;
}

.ego2 .sous-ego{
    background-color: #fff;
    margin-right: 30px;
    width: 245px;
    height: 270px;
    margin-bottom: 25px;
    border-radius: 15px;
    padding: 20px;
}

.ego2 img{
    width: 50px;
    height: 50px;
}

.ego2 p{
    color:#424345;
    font-family: 'monserrat-light';
    font-size: 17px;
    font-weight: 400;
}

.ego2 .sous-ego-p{
    color: #424345;
    font-family: 'monserrat-regular';
    font-size: 24px;
    margin-bottom: 10px;
}

.media{
    color: #ffffff;
    background-color: #111111;
    padding: 80px;
    font-family: 'monserrat-regular';
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.media p{
    margin-bottom: 50px;
}

.media .media-img img{
    margin-right: 50px;
    position: relative;
    left: 25px;
}

/*stylisation soutien class twitter*/

form{
    background-color: #1d1b25;
    padding: 100px 0;
}

.tete-form{
    color: #fff;
}

.tete-form #par1{
    font-family: 'monserrat-regular';
    font-size: 40px;
    font-weight: 700;
    color: #f1f0f3;
    margin-bottom: 50px;
    text-align: center;
}

.tete-form #par2{
    font-family: 'monserrat-regular';
    font-size: 17.5px;
    font-weight: 400;
    color: #f1f0f3;
    margin-bottom: 50px;
    text-align: center;
}

.tete-form a{
    color: #d92950;
    text-decoration: none;
}

.element1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'monserrat-regular';
    font-size: 10px;
    color: #f1f0f3;
}

@font-face{
    font-family: "roboto-regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

.element1 label{
    margin-bottom: 10px;
    font-family: 'roboto-regular';
    font-size: 16px;
}

.element1 .sous-element{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.element1 .sous-element input{
    margin-bottom: 10px;
    width: 550px;
    height: 15px;
    padding: 10px;
    font-family: 'roboto-regular';
    font-size: 16px;
}

.element1 .sous-element select{
    margin-bottom: 10px;
    width: 574px;
    height: 40px;
    padding: 10px;
    font-family: 'roboto-regular';
    font-size: 16px;
}

.element2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'monserrat-regular';
    font-size: 10px;
    color: #f1f0f3;
}

.element2 label{
    position: relative;
    right: 510px;
}

.element2 select{
    margin-bottom: 10px;
    width: 1165px;
    height: 40px;
    padding: 10px;
    font-family: 'roboto-regular';
    font-size: 16px;
    position: relative;
    left: 10px;
}

.element2 textarea{
    width: 1143px;
    height: 35px;
    padding: 10px;
    font-family: 'roboto-regular';
    font-size: 16px;
    position: relative;
    left: 10px;
}

.element2 label{
    margin-bottom: 10px;
    font-family: 'roboto-regular';
    font-size: 16px;
}

.resform{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    right: 18px;
}

.resform p{
    margin-bottom: 20px;
    font-family: 'monserrat-light';
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.resform button{
    width: 124.47px;
    height: 58px;
    background-color: #d92950;
    border: none;
    color: #fff;
    font-family: 'roboto';
    font-size: 16px;
    padding: 15px 25px;
    border-radius: 15px;
}

.resform button:hover{
    width: 124.47px;
    height: 58px;
    background-color: #1d1b25;
    border: solid 2px #d92950;
    color: #fff;
    font-family: 'roboto';
    font-size: 16px;
    padding: 15px 25px;
    border-radius: 15px;
}

.resform a{
    color: #e8566a;
    text-decoration: none;
}

.resform a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: -5px;
    background: #e8566a;
}

.resform a:hover::after {
    width: 6.5%;
    transition: width .3s;
}

.soutien{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    padding-left: 40px;
}

.soutien>p{
    color: #424345;
    margin-bottom: 50px;
    font-family: 'monserrat-regular';
    font-size: 40px;
}

.soutien .images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.soutien .images img{
    width: 270px;
    height: 168.75px;
    border-radius: 10px;
}

.sous-images{
    width: 250px;
    height: 272.75px;
    color: #424345;
    font-family: 'monserrat-light';
    font-size: 17px;
    font-weight: 500;
    margin-right: 50px;
}

.sous-images p{
    line-break: strict;
}

.sous-images strong{
    font-family: 'monserrat-regular';
    font-size: 18px;
}

.images1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.images1 div{
    width: 250px !important;
    padding: 0 50px 0 0;
}

footer{
    background-color: #2d2d2d;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

footer .myfooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
}

.sous-footer1 strong{
    color:#ffffff;
    font-family: 'roboto';
    font-size: 22.4px;
    font-style: normal;
}

@font-face{
    font-family: "roboto-medium";
    src: url("../fonts/Roboto-Medium.ttf");
}

address{
    color: #dbdbdb;
    font-family: 'roboto-medium';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33.6px;
    margin-bottom: 50px;
    width: 600px;
}

.sous-footer1 a{
    color: #ff046b;
    font-family: 'roboto-medium';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33.6px;
    text-decoration: none;
}

.sous-footer2 .mont{
    font-family: 'monserrat-light';
    color: #ffffff;
    font-size: 22.4px;
    line-height: 33.6px;
    font-weight: 400;
    margin-bottom: 10px;
}

.mailcont input{
    width: 390px;
    height: 45px;
    padding: 10px;
    font-family: 'roboto-regular';
    font-size: 16px;
    border: none;
}

.mailcont input:focus{
    outline: none;
}

.mailcont button{
    height: 65px;
    padding: 10px;
    font-family: 'roboto-regular';
    font-size: 16px;
    font-weight: bold;
    position: relative;
    right: 4px;
    background-color: #d92950;
    color: #ffffff;
    border: none;
    padding: 0 25px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.mailcont button:hover{
    background-color: transparent;
    color: #180027;
}

.mailcont{
    margin-bottom: 275px;
}

.sous-footer2 a{
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'monserrat-regular';
}

.sous-footer2 a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: -2px;
    background: #e8566a;
}

.sous-footer2 a:hover::after {
    width: 147px;
    transition: width .3s;
}

.section-container-whithout-form{
    margin-top: 100px;
    padding: 50px 0;
}

.section-container-whithout-form h1{
    text-align: center;
    color: #111111;
    font-family: 'monserrat-regular';
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 100px;
}

.section-container-whithout-form h2{
    color: #111111;
    font-family: 'monserrat-regular';
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 50px;
}

.section-container-whithout-form .sous-container-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-container-whithout-form .sous-container-section .my-sous{
    width: 494px;
    height: 1099px;
    margin-left: 25px;
    padding: 40px;
    background-color: #f1f0f3;
    border-radius: 10px;
}

.section-container-whithout-form .sous-container-section .my-sous h3{
    font-family: 'monserrat-regular';
    font-size: 28px;
    margin: 20px 0;
}

.section-container-whithout-form .sous-container-section .my-sous p{
    font-family: 'monserrat-light';
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.section-container-whithout-form .sous-container-section .my-sous ul{
    font-family: 'monserrat-light';
    font-size: 16px;
    line-height: 24px;
    margin-left: 40px;
    margin-bottom: 50px;
}

.section-container-whithout-form .sous-container-section .my-sous a.simple{
    color: #d92950;
    font-family: 'monserrat-regular';
    font-size: 16px;
    text-decoration: none;
}

.section-container-whithout-form .sous-container-section .my-sous a.simple::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: 0px;
    background: #e8566a;
}

.section-container-whithout-form .sous-container-section .my-sous a.simple:hover:after{
    width: 310px;
    transition: width .3s;
}

.section-container-whithout-form .sous-container-section .my-sous .button{
    text-align: center;
    background-color: #d92950;
    font-family: 'monserrat-regular';
    font-size: 16px;
    padding: 20px 0;
    border-radius: 20px;
}

.section-container-whithout-form .sous-container-section .my-sous .button a{
    color: #fff;
    font-family: 'monserrat-regular';
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    right: 20px;
    margin-top: 50px;
}

.footer-logo img{
    width: 50px;
    height: 40px;
}